
/engine.swf
/samples/*.swf
*.n
*.swf
*.n

/samples/comps/arial.ttf
/engine.js
/engine.js.map
/samples/2d/demo.js
/bin
/samples/basic_openfl_cpp/bin
bin
/h3d/impl/*.bak
/h2d/*.bak
*.bak
/samples/video_primitives/SWITCH_VARS.bat
/samples/video_primitives/bin
/samples/video_primitives/tpl
/samples/video_primitives/OPEN_HAXE_SWITCH.bat
